*{
    margin: 0;
    padding: 0;
}

body.home-page{
    background-color: rgb(210, 219, 213);
    text-align: center;
}
.big-logo{
    padding: 100px;
    position: absolute center;
    width: 600px;
    height: aut0;
}
    .clown-green{
        margin: 20px;
        width: 50%;
        max-width: 300px;
        height: auto;
        position: absolute;
        left: 3in;
        top: 2in;
        border-style: outset;       
    }
        .clown-green:hover{
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
        }
    .cloth-green{
        width: 50%;
        max-width: 300px;
        height: auto;
        position: absolute;
        left: 3in;
        top: 7in;
        border-style: outset;
    }
        .cloth-green:hover{
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
            
         }
        

    .mini-green{
        width: 50%;
        max-width: 300px;
        height: auto;
        position: absolute;
        right: 2in;
        top: 4in;
        border-style: outset;
    }
        .mini-green:hover{
            -webkit-filter: grayscale(1);
            filter: grayscale(1); 
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
        }

body.social-media{
    background-color: black;
    text-align: center;
}
    .smile-art{
        width: 100%;
        height: auto;
    }

body.about-page{
    background-color: rgb(147, 153, 149);
    text-align: center;
}

body.portfolio-page{
    background-color: rgb(48, 51, 49);
    text-align: center;
}


.site-title{
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 0px rgb(8, 236, 0);
    border-radius: 20px;
    transition: box-shadow 0.25s;
    
}
.site-title:hover{
    box-shadow: 0px 5px 12px rgb(3, 170, 39);
}
.page-title{
    color: rgb(250, 250, 253);
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    
}
.main-menu{
    margin: auto;
    padding: 15px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: xx-large;
    word-spacing:  5px;
    border-style: outset;
    box-sizing: border-box;
    height: initial;
    width: fit-content;
    border-color: rgb(70, 109, 121);
}
.main-menu, a:hover {
    color: rgb(197, 5, 171);
  }
.small-logo{
    width: 180px;
    height: auto;
    animation:  flash infinite; 
    animation-duration: 5s;
    position: fixed ;
    left: 0 ;
    bottom: 0 ;
    z-index: 1 ;
    }

.art-pieces{

    padding: 20px;
    width: 700px;
    height: auto;
}
.photo-me{
    float: left;
    display: flex;
    margin: 80px;
    width: 400px;
    height: auto;
}
.sketch{     
    float: left;
    padding: 100px;
    width: 450px;
    height: auto;
}
.drawing{
    float: right;
    padding: 100px;
    width: 450px;
    height: auto;
}
.about-me{
    padding: 100px;
    float: right ;
    width: 5in;
}
.title-1{
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(112, 4, 85);
    letter-spacing: 5px;
    
 }
         .paragraph-1{           
         font-size: 30px;
         font-family: Impact, 'Arial Narrow Bold', sans-serif;
        }
.about-art{
    float: right;
    padding: 80px;
    height: auto;
    width: 5in;

}
.title-2{
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(4, 60, 112);
    letter-spacing: 5px;

}
        .paragraph-2{
            font-size: 30px;
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
        }

        .weeb-drawing{
            float: left;
            display: flex;
            padding: 100px;
            width: 500px;
            height: auto;
        }
.media-links{
    top: 20px;
    padding: 60px;
    width: 90px;
    height: auto;
}
.insides {
    display: none;
    
  }
  .button{
      background-color: rgb(170, 8, 162);
      font-family: 'Sedgwick Ave Display', cursive ;
      font-size: 30px;
      border-color: rgb(61, 255, 47);
      border-radius: 20px;
      padding: 5px;
  }
  
  .popout {
    background-color: rgb(144, 5, 137);
    border: 2px solid rgb(83, 233, 24);
    position: absolute;
    padding: 30px;
    top: 7in;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 25px;
    height: 1in;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
  }
  
  .close:hover {
    cursor: pointer;
  }
  
  .spotify{
      padding: 10px;
      width: 70px;
      height: auto;
  }
  .spotify-link{
     align-items: center;
      padding: 200px;
  }